.map {
    padding-top: 150px;
    background-color: #F6F6F6;
}
.map__title {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    text-align: center;
}
.map__subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    text-align: center;
}
.map__img {
    margin-top: 150px;
}