.sponsored {
    padding-top: 30px;
    background-color: #F6F6F6;
}
.sponsored__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sponsored__img img {
    width: 100%;
}